.neon-btn { 
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Balsamiq Sans";
  position: relative;
  display: inline-block; 
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 0.1em;
  cursor: default;
  color: rgb(5, 5, 5);
  border: rgb(64, 0, 255) 0.025em solid;
  padding: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.1em rgb(98, 255, 0);
  
}



    
.neon-btn:hover,
.neon-btn:focus{
  background:rgb(64, 0, 255);
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  }


/* Body Styles */
body {
  font-family: 'Segoe UI';
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* Menu Styles */
.menu {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.menu a {
  color: #898787;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  
}

.menu a:hover {
  color: rgb(64, 0, 255);
  text-align: center;
  text-decoration: underline;
}

/* Main Heading Style */
main h1 {
  font-size: 2rem;
  color: #000000;
  text-align: center;

}

.PaymentText{
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #000000;
  text-align: center;

}